In [3]:
import pandas as pd

In [6]:
df=pd.read_csv("D:/Datasets/valid/netflix_titles.csv")

In [7]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [10]:
df.dropna(inplace=True)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df['type'] = df['type'].str.strip().str.title()
df['country'] = df['country'].str.strip().str.title()
df['director'] = df['director'].fillna('Unknown').str.strip().str.title()

In [13]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce', dayfirst=True)

In [14]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [15]:
df['release_year'] = df['release_year'].astype('Int64')

In [16]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Index: 8806 entries, 1 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8806 non-null   object
 1   type          8806 non-null   object
 2   title         8806 non-null   object
 3   director      8806 non-null   object
 4   cast          8806 non-null   object
 5   country       8806 non-null   object
 6   date_added    8718 non-null   datetime64[ns]
 7   release_year  8806 non-null   Int64
 8   rating        8806 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8806 non-null   object
 11  description   8806 non-null   object
dtypes: Int64(1), datetime64[ns](1), object(10)
memory usage: 903.0+ KB
None
  show_id     type                  title         director  \
1      s2  Tv Show          Blood & Water  Kirsten Johnson
2      s3  Tv Show              Ganglands  Julien Leclercq
3      s4  Tv Show  Jailbirds New Orleans  Julien Leclercq
4      s5  Tv Show           Kota Factory  Julien Leclercq
5      s6  Tv Show          Midnight Mass    Mike Flanagan

                                                cast       country date_added  \
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...  South Africa 2021-09-24
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...  South Africa 2021-09-24
3  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...  South Africa 2021-09-24
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...         India 2021-09-24
5  Kate Siegel, Zach Gilford, Hamish Linklater, H...         India 2021-09-24

   release_year rating   duration  \
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons
5          2021  TV-MA   1 Season

                                           listed_in  \
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...
5                 TV Dramas, TV Horror, TV Mysteries

                                         description
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
5  The arrival of a charismatic young priest brin...

In [19]:
df=pd.read_csv("D:/Datasets/valid/netflix_titles.csv")

In [22]:
index=False